# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment
.env

# macOS
.DS_Store

# Raw data
data/raw/*.csv

# Processed data
data/processed/*.csv

# Models
models/